always-auth=true
sass_binary_site=https://npmmirror.com/mirrors/node-sass
registry=http://192.168.167.26:8081/repository/npm-group/
//192.168.167.26:8081/repository/npm-group/:_authToken=NpmToken.632042f4-5c4a-3434-aca2-4f2aca561c42
//192.168.167.26:8081/repository/npm-hosted/:_authToken=NpmToken.97bba9b2-7bee-3721-98d6-4dbcb754f7e1
node_gyp_binary_host_mirror=https://npmmirror.com/mirrors/node-gyp/

# GitHub Packages npm registry for @ycwang-dev
@ycwang-dev:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
